@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    background-color: #1C1C1C;
    color: white;
    padding: 0px;
    margin: 0;
}
#iconprincipal{
    animation: roda 1.5s infinite alternate ease-in-out;
}
@keyframes roda{
    0%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(40deg);
    }
}

.telacarregamento{
    z-index: 3;
    width: 100vw;
    height: 102vh;
    transform: translateY(-4.5vh);
    background-color: #1C1C1C;
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Courgette", Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;

    transition: all 0.5s 5s;
}
.telacarregamento #tiktokicon{
    animation: batimento 2s infinite alternate;
}

@keyframes batimento{
    to{
        transform: scale(1);
        opacity: 80%;
    }
    from{
        transform: scale(1.2);
        opacity: 100%;
    }

}
/*
@keyframes tela{
    0%{
        opacity: 100%;
        display: block;
    }
    100%{
        
    }

}*/
.telacarregamento h1{
    transform: translateY(0.5em);
}
.videoProduto:nth-child(1){
    margin-right: 2.5em;
    margin-top: 2em;
}

#bodyPrincipal{
    margin-bottom: 2em;
}
#sesonPrincipal{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12em;
}
.explore{
    font-family: "Courgette", Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}
.explore::after{
    content: "Inexploravel";
    color: #006400;
    font-family: "Courgette", Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}
.capa{
    width: 120px;
    border-radius: 15px;
    margin-right: 5em;
    transition: all 0.5s ease-out;
}
.capa:hover{
    transform: scale(1.2);
}
.produto{
    display: flex;
    margin-bottom: 5em;
    
}
.bodyproduto{
    width: 100%;
    max-width: 700px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 16px;
    
    
}
#produtos{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.buttonComprar{
    background-color: #1E1E1E;
    border: none;
    color: white;
    width: 24vh;
    max-width: 176px;
    height: 36px;
    border-radius: 25px;
    border: solid 2px #202020;
    transition: all 1s;
}
.buttonComprar:hover{
    border: solid 2px #008a2e;
    transform: scale(1.1);
}
.icon{
    width: 30px;
    margin-right: 20px;
}
#dicas{
    display: flex;
    justify-content: center;
    margin-top: 8em;
    margin-bottom: 17em;
}
.dica{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    max-width: 300px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    background-color: #1E1E1E;
    padding: 2em;
    border-radius: 15px;
    transition: 0.5s ease-out;
}
.dica:hover{
    box-shadow: 0px 0px 6px 1px #00000017;
    transform: scale(1.1);
}
.dica:nth-child(2){
    margin-left: 25em;
}
.dicaHeader{
    display: flex;
}
@media(max-width:700px){
    #bodyPrincipal{
        display: flex;
        justify-content: center;
        
    }
    .videoProduto:nth-child(1){
        margin: 0;
    }
    .videoProduto:nth-child(2){
        
        display: none;
    }
    .buttonComprar{
        margin-top: 20px;
    }
    .produto{
        flex-direction: column;
        align-items: center;
    }
    .capa{
        width: 150px;
        margin-right: 0em;
    }
    .bodyproduto{
        margin-bottom: 8em;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dica:nth-child(1){
        margin-bottom: 4em;
    }
    #dicas{
        margin-top: 0em;
        
        display: flex;
        justify-content: none;
        align-items: center;
        flex-direction: column;
    }
    .dica:nth-child(2){
        margin-left: 0em;
    }
}
h5{
    margin-bottom: 10px;
}
footer{
    background-color: #00000013;
    display: flex;
    align-items: center;
    font-size: 14px;
    flex-direction: column;
    font-family: "Courgette", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}